@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Welcome</h1>
    <p>Visit <a asp-area="" asp-page="/practicing">practicing</a> & <a asp-area="" asp-page="/islands">island mapping</a>!</p>
</div>
